
img {
    max-width: 100%;
}

ul {
    list-style: none;
}


/*各页面颜色*/
.color1{
    background-color: #29BDE0;  /*深蓝*/

}
.color2{
    background-color: #69D1E9; /*浅蓝*/

}
.color3{
    background-color: #FBB435; /*橙色*/

}
.color4{ /*深灰*/
    color:#9F9F9F;
}
.color5{
    background-color: #E7E7E7; /*浅灰*/

}


/*位置设置*/

