/*@media only screen and (max-width: 480px){
           html {
               font-size: 79%!important;
           }
           .elements{
               height:70px!important;
           }
       }*/

body{
    margin:0;
}

html {
    font-size: 62.5%;
}

.wrap{
    padding:3% 0 0 3%;
    overflow: hidden;
}

.elements{
    width:30%;
    padding: 0 0 30% 0;
    background-color: chocolate;
    border-radius: 10px;
    float: right;
    margin:0 3% 3% 0;
}

