*{
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
}

.wrap{
    padding:3% 0 0 3%;
}

.elements{
    width:30%;
    padding: 0 0 30% 0;
    background-color: orange;
    border-radius: 10px;
    float: left;
    margin:0 3% 3% 0;
}

