//position-related
@mixin absolutePosition($top:50%,$right:0,$bottom:0,$left:50%){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@mixin generalTrans($x:-50%,$y:-50%,$z:0){
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform: translate3d($x,$y,$z);
  -ms-transform: translate3d($x,$y,$z);
  -o-transform: translate3d($x,$y,$z);
  transform: translate3d($x,$y,$z);
}

//type of indexes

