@charset "utf-8";
@import "variables","mixins";

html {
  font-size: 62.5%;
  width:100%;
  height:100%;
  background: $themeColor1;
}

body {
  width:100%;
  min-width: 280px;
  height:100%;
}

/*-----------------------------*/
.wrap{
  width:100%;
  height:100%;
  background-color: $themeColor1;
}

/*heading fixed 区域-----------------------------------*/
.top{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:18.5%;
  z-index: 10;
  .header{   /*header start-*/
    position: relative;
    width:100%;
    height:61%;
    background-color: $themeColor1;
    .options-btn{   /*选项按钮*/
      position: absolute;
      left:5%;
      top:70%;
      @include generalTrans(0,-50%);
      width:2.5rem;
      height:2.5rem;
      cursor: pointer;
    }
    .title{ /*页头标题*/
      position: absolute;
      left:50%;
      top:70%;
      @include generalTrans;
      color: #FFFFFF;
      font-size: 2.5rem;
    }
    .close{ /*页头关闭按钮*/
      position: absolute;
      right:3%;
      top:70%;
      @include generalTrans(0,-50%);
      width:2.5rem;
      height:2.5rem;
      cursor: pointer;
      img{
        color: #FFFFFf;
      }
    }
  }
  .info-box{/*info section start----*/
    position: relative;
    display: flex;
    width:100%;
    height:39%;
    background-color: #B9E9F5;
    z-index: 10;
    p{    /*信息栏文字*/
      margin:auto 5%;
      font-size: 1.6rem;
    }
    a{    /**/
      position: absolute;
      width:3.5rem;
      height:3.5rem;
      right:0;
      top:50%;
      @include generalTrans;
      cursor: pointer;
    }
  }
}

/*voting block start------------------------------------*/
.vote-container{    /*投票区域*/
  position: relative;
  width:100%;
  margin:30% auto 70% auto;
  height:100%;
  padding:1rem;
  p{  /*投票区提示语*/
    color: #FFFFFf;
    margin:3.6% 11.25% 0 11.25%;
    font-size: 1.6rem;
  }
  ul{
    margin-top:2.5%;
    height:100%;
  }
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}

.vote-container .vote-box{  /*具体玩家投票区*/
  width:22%;
  height:18%;
  float: left;
  margin:2% 5.5% .5% 5.5%;
  &:hover .actions{
    visibility: visible;
    &:not(:first-child){
      margin-left:4.6%;
    }
  }
  .vote-outer{
    display: block;
    width:100%;
    height:72.2%;
    background-color: #FFFFFf;
    padding:4%;
    cursor: pointer;
    z-index:90;
    div p{
      display: block;
      margin:auto;
      color: #000;
      font-size: 1.6rem;
    }
    span{
      float: left;
      height:24%;
      width:100%;
      background-color: #83B09A;
      text-align: center;
      color: #fff;
      vertical-align: middle;
      font-size: 1.4rem;
    }
  }
}

.vote-box div{
  display: flex;
  float: left;
  height:75%;
  width:100%;
  background-color: #F5C97B;
}

/*四小选项图标 start--*/
.vote-box ul{
  width:100%;
  .actions{
    float: left;
    margin-top: 13%;
    display: inline-block;
    width:21.5%;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
  }
}

/*footer section start---------------------------------*/
.footer{
  position: fixed;
  display: flex;
  bottom:0;
  left:0;
  width:100%;
  height:17%;
  background-color: $themeColor1;
  .vote-btn{
    margin: auto;
    width:77%;
    height:46.3%;
    background-color: #FBB435;
    color: white;
    cursor: pointer;
    span{
      position: absolute;
      top:50%;
      left:50%;
      margin:0 auto;
      font-size: 2.5rem;
      color:white;
      @include generalTrans;
    }
  }
}
