@import "variables";

@mixin infoRows($padding:5%,$bottomLine:1px solid #e1e5e7){
  padding: $padding;
  border-bottom: $bottomLine;
}

//fixed footer 2-buttons spread
@mixin fixedFooter{
  position:fixed;
  bottom:0;
  left:0;
  padding:4%;
  width:100%;
  background-color: $white;
  z-index: 10;
}

@mixin fixedFooterElement{
  float: left;
  width:48%;
  height:60px;
  line-height:60px;
  border-radius: 5px;
  border:2px solid $themeColor;
  text-align: center;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}


//fixed footer 3-buttons central


//position related
@mixin generalTrans($x:-50%,$y:-50%,$z:0){
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform: translate3d($x,$y,$z);
  -ms-transform: translate3d($x,$y,$z);
  -o-transform: translate3d($x,$y,$z);
  transform: translate3d($x,$y,$z);
}